.advantage {
  text-align: center;
  background-color: $white-60;
  padding: 26px $section-side-padding 16px $section-side-padding;
}

.advantage--primary {
  background-color: $light-grey-blue;
  padding-top: 39px;
  padding-bottom: 0;
}

.advantage__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  margin-top: 0;
  margin-bottom: 9px;
}

.advantage--primary .advantage__title {
  color: white;
}

.advantage__desc {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  margin-top: 15px;
}

.advantage--primary .advantage__desc {
  color: white;
  margin-bottom: 41px;
}

.advantage__number {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
}

.advantage--primary .advantage__number {
  color: white;
}

.advantage__photo {
  margin: 0 (-$section-side-padding);
  display: block;
  height: 260px;
  overflow: hidden;

  img {
    display: block;
  }
}
