.advantage-with-photo__advantage {
  box-sizing: border-box;
}

.advantage-with-photo__photo {
  height: 260px;
  background-color: #81b3d2;
  overflow: hidden;
  position: relative;

  img {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: $min-tablet-width) {
  .advantage-with-photo {
    display: flex;
    padding-top: 0;
  }

  .advantage-with-photo__advantage {
    width: 33.3%;
  }

  .advantage-with-photo__photo {
    width: 66.6%;
    flex-grow: 1;
    height: auto;
  }

  .advantage-with-photo--second {
    .advantage-with-photo__advantage {
      order: 2;
    }
  }
}
