.advantage {
  text-align: center;
  background-color: #eeeeee;
  padding-top: 26px;
  padding-bottom: 16px;
  padding-right: $section-side-padding;
  padding-left: $section-side-padding;

  &--primary {
    background-color: $light-grey-blue;
    padding-top: 39px;
    padding-bottom: 41px;
  }
}

.advantage__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  margin-top: 0;
  margin-bottom: 9px;

  .advantage--primary & {
    color: white;
  }
}

.advantage__desc {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  margin-top: 15px;

  .advantage--primary & {
    color: white;
    margin-bottom: 0;
  }
}

.advantage__number {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;

  .advantage--primary & {
    color: white;
  }
}

@include for-tablet-and-desktop {
  .advantage {
    padding: 44px 45px 30px 45px;
    min-height: 256px;
  }

  .advantage__title {
    font-size: 21px;
    line-height: 1.24;
    margin-bottom: 11px;
    padding: 0 8px;
  }

  .advantage__desc {
    margin-top: 22px;
  }
}

@include for-desktop {
  .advantage--primary {
    padding-top: 51px;
  }
}
