.checkbox-input {
  height: 56px;
  position: relative;
  display: flex;
  align-items: center;

  input {
    display: none;
  }

  label {
    margin-bottom: 4px;
    padding-left: 78px;
    text-transform: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    color: #000000;
    height: inherit;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      width: 56px;
      height: 56px;
      top: 0;
      left: 0;
      background-color: #f2f2f2;
      border-radius: 5px;
    }

    &:hover::before {
      background-color: #e5e5e5;
    }

    &:active::before {
      background-color: #d5d5d5;
    }
  }

  input:checked + label::after {
    content: "v"; // TODO временно
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    top: 18px; // TODO временно
    left: 18px; // TODO временно
    color: #333333; // TODO временно
  }
}

.checkbox-input--radio {
  label {
    margin-bottom: 0;

    &::before {
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      display: none;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      top: 18px;
      left: 18px;
      background-color: #333333;
      border-radius: 50%;
    }

    &:active::after {
      opacity: 0.3;
      display: inline-block;
    }
  }

  input:checked + label::after {
    display: inline-block;
  }
}
