.checkbox-input {
  height: 56px;
  position: relative;
  display: flex;
  align-items: center;

  input {
    display: none;
  }

  label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-left: 78px;
    text-transform: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    letter-spacing: normal;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      width: 56px;
      height: 56px;
      left: 0;
      top: 0;
      background-color: #f2f2f2;
      border-radius: 5px;
    }
  }

  input:checked + label::after {
    content: "v"; // TODO временно
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    top: 18px; // TODO временно
    left: 18px; // TODO временно
    color: #333333; // TODO временно
  }
}
