@include for-mobile {
  .checkbox-input-list__item {
    margin-top: 24px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

@include for-tablet-and-desktop {
  .checkbox-input-list {
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .checkbox-input-list__item {
    width: 200px;
    margin-top: 32px;
  }
}

@include for-desktop {
  .checkbox-input-list {
    margin-top: 10px;
    width: auto;
  }

  .checkbox-input-list__item {
    width: auto;
  }
}
