.checkbox-input {
  height: 56px;
  margin-top: 24px;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 56px;
    height: 56px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }

  input {
    display: none;
  }

  label {
    vertical-align: middle;
    margin-bottom: 6px;
    margin-left: 18px;
    text-transform: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    letter-spacing: normal;
  }

  input:checked + label::after {
    content: "v"; // TODO временно
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    top: 18px; // TODO временно
    left: 18px; // TODO временно
    color: #333333; // TODO временно
  }
}
