.decorative-triangle {
  background-image: url("/img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #81b3d2;
  background-size: 100% auto;
  padding-top: 5.3%;

  @media (min-width: 768px) {
    display: none;
  }
}



