.feedback-form__fieldset {
  @include default-side-padding;

  border: none;
  border-top: solid 1px #e5e5e5;
  padding-top: 17px;
  padding-bottom: 24px;
  margin: 0;
}

.feedback-form__fieldset--contacts {
  padding-bottom: 29px;
  padding-top: 18px;
}

.feedback-form__fieldset--submit {
  border-top: none;
  padding-top: 26px;
  padding-bottom: 42px;
}

.feedback-form__fieldset--rating {
  padding-bottom: 28px;

  .feedback-form__fieldset-title {
    padding-bottom: 10px;
  }
}

.feedback-form__fieldset--places {
  padding-top: 18px;

  .feedback-form__fieldset-title {
    padding-bottom: 19px;
  }
}

.feedback-form__fieldset--review {
  .feedback-form__fieldset-title {
    padding-bottom: 19px;
  }
}

.feedback-form__fieldset-title {
  padding-bottom: 3px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $black-two;
}

.feedback-form__review {
  // TODO возможно стоит вынести в отдельный блок
  display: block;
  min-height: 160px;
  background-color: #f2f2f2;
  width: 100%;
  border: none;
  resize: vertical;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  padding: 15px 20px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    background-color: white;
    border: solid 4px #e5e5e5;
    outline: none;
  }
}

.feedback-form__submit-button {
  display: block;
  width: 100%;
  padding: 16px 0;
  text-transform: uppercase;
}

.feedback-form__required-field-help {
  display: none;
}

@media (min-width: 768px) {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;
  }

  .feedback-form__fieldset {
    width: 100%;
    border-top: none;
    padding-top: 42px;
  }

  .feedback-form__fieldset--rating {
    order: -1;
    width: 50%;
    padding-right: 40px;

    .feedback-form__fieldset-title {
      text-align: left;
      padding-bottom: 40px;
    }
  }

  .feedback-form__fieldset--name {
    width: 50%;

    .feedback-form__fieldset-title {
      text-align: left;
      padding-bottom: 40px;
    }
  }

  .feedback-form__fieldset--places {
    padding-top: 23px;

    .feedback-form__fieldset-title {
      margin-bottom: 13px;
      padding-bottom: 0;
    }
  }

  .feedback-form__fieldset--review {
    .feedback-form__fieldset-title {
      margin-bottom: 60px;
      padding-bottom: 0;
    }
  }

  .feedback-form__fieldset--submit {
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 64px;
    align-items: baseline;
  }

  .feedback-form__fieldset-title {
    font-size: 21px;
    line-height: 26px;
    position: relative;

    &--decorated {
      span {
        display: inline-block;
        position: relative;
        background-color: white;
        padding: 0 60px;
      }

      // декоративная горизонтальная линия
      &::before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        top: 50%;
        right: 0;
        height: 1px;
        transform: translateY(-50%); // note необходимость сомнительна
        background-color: #e5e5e5;
      }
    }
  }

  .feedback-form__submit-button {
    width: 324px;
  }

  .feedback-form__required-field-help {
    display: initial;
    font-size: 14px;
    line-height: 26px;
  }
}


@media (min-width: 1200px) {
  .feedback-form__fieldset--rating {
    position: relative;

    .feedback-form__fieldset-title {
      text-align: center;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      right: 0;
      top: 42px;
      bottom: 28px;
      width: 1px;
      background-color: #e5e5e5;
    }
  }

  .feedback-form__fieldset--name {
    padding-left: 80px;
  }

  .feedback-form__fieldset--contacts {
    .feedback-form__fieldset-title {
      margin-bottom: 75px;
      padding-bottom: 0;
    }

    .text-input {
      float: left;
      margin-top: 0;

      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  .feedback-form__submit-button {
    width: 480px;
  }
}
