.find-apartment-suggestion {
  @include default-side-padding;

  text-align: center;
  padding-top: 4px;
  padding-bottom: 50px;
}

.find-apartment-suggestion__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
}

.find-apartment-suggestion__text {
  font-size: 14px;
  line-height: 1.71;
  color: $black;
  margin-left: auto;
  margin-right: auto;
}

.find-apartment-suggestion__link {
  width: 100%;
  margin-top: 23px;
  padding: 15px 0 17px 0;
}

@media (min-width: $min-tablet-width) {
  .find-apartment-suggestion {
    padding-top: 24px;
    padding-bottom: 58px;
  }

  .find-apartment-suggestion__title {
    font-size: 30px;
    line-height: 1;
  }

  .find-apartment-suggestion__link {
    margin-top: 28px;
    width: 458px;
  }
}

@media (min-width: $min-desktop-width) {
  .find-apartment-suggestion {
    padding-bottom: 64px;
  }

  .find-apartment-suggestion__link {
    margin-top: 34px;
  }
}
