.form-page-intro {
  text-align: center;
  padding: 38px $section-side-padding 17px $section-side-padding;
}

.form-page-intro__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: $black-two;
  margin: 0;
}

.form-page-intro__desc {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: normal;
  color: #333333;
  margin: 27px 0 0 0;
}
