.gallery {
  padding-top: 25px;
  border-bottom: solid 1px #e5e5e5;
}

.gallery__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: $black-two;
  text-align: center;

  padding-left: $section-side-padding;
  padding-right: $section-side-padding;
}

.gallery__desc {
  font-size: 14px;
  line-height: 1.75;
  text-align: center;
  color: $black;
  padding-left: $section-side-padding;
  padding-right: $section-side-padding;
  margin-top: 27px;
  margin-bottom: 27px;
}

.gallery__list {
  @include reset-list;
}

.gallery__item {
  padding-left: $section-side-padding;
  padding-right: $section-side-padding;
  border-top: solid 1px #e5e5e5;
}


@include for-tablet-and-desktop {
  .gallery {
    padding-top: 53px;
    border: none;
  }

  .gallery__title {
    font-size: 30px;
    line-height: 1;
  }

  .gallery__desc {
    font-size: 14px;
    line-height: 24px;
    max-width: 440px;
    margin: 29px auto 69px;
    padding: 0;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
  }

  .gallery__item {
    width: 50%;
    background-color: #f2f2f2;
    padding: 0;
    border: none;

    &:nth-child(2n+3) {
      background-color: #eaeaea;
    }

    &:first-of-type {
      width: 100%;
    }
  }
}

@include for-desktop {
  .gallery {
    padding-top: 90px;
  }

  .gallery__desc {
    margin-bottom: 71px;
  }

  .gallery__list {
    padding-left: 0;
    padding-right: 0;
  }

  .gallery__item {
    width: 33.3%;
    flex-grow: 1;

    &:first-of-type {
      width: 100%;
    }
  }
}
