.htmlacademy-logo {
  width: 27px;
  height: 34px;
  display: inline-block;

  svg {
    fill: #000000;
  }

  &:hover,
  &:focus {
    outline: none;

    svg {
      fill: #81b3d2;
    }
  }

  &:active svg {
    opacity: 0.3;
    fill: rgb(0, 0, 0);
  }
}
