.htmlacademy-logo {
  width: 27px;
  height: 34px;
  display: inline-block;

  path {
    fill: #000000;
  }

  &:hover path {
    fill: #81b3d2;
  }

  &:active path {
    fill: rgba(0, 0, 0, 0.3);
  }
}
