.index-page-intro {
  @include default-side-padding;

  position: relative;
  padding-top: 40px;
  padding-bottom: 44px;
  text-align: center;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #81b3d2;
    background-size: 100% auto;
    padding-top: 5.3%;

    @include for-tablet-and-desktop {
      display: none;
    }
  }
}

.index-page-intro__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
  margin-top: 0;
  padding: 0 5px; // для pixel perfect
}

.index-page-intro__desc {
  font-size: 14px;
  line-height: 1.86;
  color: #333333;
  margin-top: 27px;
  margin-bottom: 0;
}

@include for-tablet-and-desktop {
  .index-page-intro {
    padding-top: 49px;
    padding-bottom: 50px;
  }

  .index-page-intro__title {
    font-size: 21px;
    line-height: 26px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .index-page-intro__desc {
    font-size: 14px;
    line-height: 1.86;
    margin-top: 30px;
  }
}
