.index-page-intro {
  padding: 43px $section-side-padding 27px $section-side-padding;
  text-align: center;
}

.index-page-intro__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
  margin-top: 0;
}

.index-page-intro__desc {
  font-size: 14px;
  line-height: 1.86;
  color: #333333;
  margin-top: 27px;
  margin-bottom: 0;
}

.promo-video__player {
  background-color: gray;
  height: 267px;
  margin-top: 35px;
}
