.page-footer {
  @include default-side-padding;

  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;

  a {
    color: $black-two;
    text-decoration: none;
  }
}

.page-footer__social-link {
  margin-top: 38px;
}

.page-footer__credits {
  font-size: 14px;
  line-height: 1.86;
  color: $black-two;
  margin-top: 38px;
}

.page-footer__credits-text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.page-footer__credits-link {
  display: inline-block;
  vertical-align: middle;
  margin-top: 2px;
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
    padding-bottom: 33px;
  }

  .page-footer__social-link {
    margin-top: 0;
  }

  .page-footer__credits {
    margin-top: 0;
  }

  .page-footer__credits-text {
    margin-left: 10px;
  }

  .page-footer__hashtag {
    padding-bottom: 4px;
  }
}
