.post {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  min-height: 414px;
}

.post__img-wrapper {
  background-color: red; // TODO tmp
  position: relative;
  overflow: hidden;
  height: 280px;
}

.post__img {
  position: absolute;
}

.post__footer {
  padding-top: 14px;
}

.post__title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: $black-two;
  margin: 0;
}

.post__author {
  font-size: 14px;
  text-transform: none;
  line-height: 1.71;
  color: $black;
  display: inline-block;
  margin-top: 2px;
}

.post__likes {
  margin-top: 6px;
}

@media (min-width: 768px) {
  .post {
    padding: 0;
    min-height: unset;
  }

  .post__img-wrapper {
    background-color: red; // TODO tmp
    position: relative;
    overflow: hidden;
    height: 267px;
  }

  .post--big .post__img-wrapper {
    height: 400px;
  }

  .post__footer {
    height: 80px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 15px 20px 10px 20px;
    position: relative;
  }

  .post__likes {
    position: absolute;
    right: 10px;
    top: 21px;
    width: 75px;
  }
}

@media (min-width: 1200px) {
  .post {
    position: relative;
  }

  .post__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .post__title {
    color: white;
  }

  .post__author {
    color: white;
  }

  .post__likes {
    color: white;
  }
}
