.site-banner-big {
  background-color: #7f8d99;
  background-position: center bottom;
  background-repeat: no-repeat;
  overflow: hidden;

  @include for-mobile {
    height: 389px;
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-size: 768px auto, 768px 389px;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
    }
  }

  @include for-tablet {
    height: 517px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: 768px auto, 768px 518px;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @include for-desktop {
    height: 517px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-size: 1200px auto, 1200px 518px;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.site-banner-big__content {
  width: 281px;
  height: auto;
  margin: 89px auto 0 auto;
  display: block;

  @include for-tablet-and-desktop {
    width: 460px;
    margin-top: 77px;
  }
}
