.small-city-benefits {
  padding: 27px $section-side-padding 17px $section-side-padding;
}

.small-city-benefits__list {
  @include reset-list;

  text-align: left;
}

.small-city-benefits__item {
  padding: 8px 0 7px 49px;
}

.small-city-benefits__item-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
}

.small-city-benefits__item-desc {
  font-size: 14px;
  line-height: 1.5;
  color: $black;
}

@media (min-width: 768px) {
  .small-city-benefits {
    padding: 0;
  }

  .small-city-benefits__list {
    display: flex;
  }

  .small-city-benefits__item {
    width: 33.3%;
    text-align: center;
    padding: 158px 45px 48px 45px;
  }

  .small-city-benefits__item--souvenir {
    order: 10;
  }

  .small-city-benefits__item-title {
    font-size: 21px;
    line-height: 26px;
  }

  .small-city-benefits__item-desc {
    font-size: 14px;
    line-height: 21px;
    margin-top: 22px;
  }
}

@media (min-width: 1200px) {
  .small-city-benefits__item {
    padding: 158px 50px 69px 50px;
  }
}
