.small-city-benefits {
  padding: 35px $section-side-padding 9px $section-side-padding;
}

.small-city-benefits__list {
  @include reset-list;

  text-align: left;
}

.small-city-benefits__item {
  padding: 0 0 15px 49px;
}

.small-city-benefits__item-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
}

.small-city-benefits__item-desc {
  font-size: 14px;
  line-height: 1.5;
  color: $black;
}
