.small-city-benefits {
  padding: 20px $section-side-padding 24px $section-side-padding;
}

.small-city-benefits__list {
  @include reset-list;

  text-align: left;
}

.small-city-benefits__item {
  padding: 15px 0 0 49px;
  background-repeat: no-repeat;

  &--housing {
    background-image: url("/img/icon-house.svg");
    background-size: 37px auto;
    background-position: 2px 7px;
  }

  &--souvenir {
    background-image: url("/img/icon-gift.svg");
    background-size: 32px auto;
    background-position: 5px 5px;
  }

  &--food {
    background-image: url("/img/icon-burger.svg");
    background-size: 38px auto;
    background-position: 0 10px;
  }
}

.small-city-benefits__item-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
}

.small-city-benefits__item-desc {
  font-size: 14px;
  line-height: 1.5;
  color: $black;
}

@media (min-width: 768px) {
  .small-city-benefits {
    padding: 0;
  }

  .small-city-benefits__list {
    display: flex;
  }

  .small-city-benefits__item {
    width: 33.3%;
    text-align: center;
    padding: 158px 45px 48px 45px;

    &--housing {
      background-size: 75px auto;
      background-position: center 60px;
    }

    &--souvenir {
      background-size: 64px auto;
      background-position: center 56px;
      order: 10;
    }

    &--food {
      background-size: 75px auto;
      background-position: center 63px;
    }
  }

  .small-city-benefits__item-title {
    font-size: 21px;
    line-height: 26px;
  }

  .small-city-benefits__item-desc {
    font-size: 14px;
    line-height: 21px;
    margin-top: 22px;
  }
}

@media (min-width: 1200px) {
  .small-city-benefits__item {
    padding: 158px 50px 69px 50px;
  }
}
