.social-links {
  font-size: 0;
  display: flex;
  justify-content: center;
}

.social-links__item {
  width: 46px;
  height: 48px;
  vertical-align: top;
  background-color: $light-grey-blue;
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    fill: #ffffff;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    svg {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}
