.text-input {
  display: flex;
  margin-top: 20px;
  align-items: baseline;
  flex-wrap: wrap;

  label {
    flex-grow: 0;
    margin-right: 15px;

    font-size: 14px;
    line-height: 26px;
    color: #333333;
  }

  input {
    flex-grow: 1;
    padding: 0 22px;
    width: 120px;
    height: 58px;
    border: none;
    background-color: #f2f2f2;

    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000000;

    &::placeholder {
      color: #000000; // TODO проверить что это нужно
    }

    &:hover {
      background-color: #e5e5e5;
    }

    &:active,
    &:focus {
      background-color: white;
      border: solid 4px #e5e5e5;
      outline: none;
    }
  }
}

.text-input--with-icon {
  position: relative;

  input {
    padding-right: 78px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 58px;
    height: 58px;
    bottom: 0;
    right: 0;
    background-image: url("/img/icon-mail.svg");
    background-color: #e6e6e6;
    background-size: 18px 18px;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.text-input--email {
  margin-top: 13px;

  label {
    margin-bottom: 6px;
    padding-left: 22px;
    width: 100%;
  }

  &::after {
    background-image: url("/img/icon-mail.svg");
  }
}

.text-input--phone {
  margin-top: 18px;

  label {
    margin-bottom: 6px;
    padding-left: 22px;
    width: 100%;
  }

  &::after {
    background-image: url("/img/icon-phone.svg");
  }
}

@media (min-width: 768px) {
  .text-input--email {
    margin-top: 25px;
  }

  .text-input--phone {
    margin-top: 24px;
  }
}

@media (min-width: 1200px) {
  .text-input--email {
    width: 502px;

    label {
      width: auto;
    }
  }

  .text-input--phone {
    width: 400px;
    margin-right: 58px;

    label {
      width: auto;
      padding-left: 0;
    }
  }
}
