// переменные из zeplin
// TODO разобраться, что из этого реально нужно
$black-three-30: rgba(17, 17, 17, 0.3);
$black-three-60: rgba(17, 17, 17, 0.6);
$black-two-30: rgba(34, 34, 34, 0.3);
$black-two: #222222;
$black: #333333;
$blue-green: #149080;
$brownish-grey: #666666;
$grass: #5eaa2f;
$greeny-blue: #56c3b2;
$greyish-brown-30: rgba(68, 68, 68, 0.3);
$greyish-brown: #444444;
$leaf: #68b738;
$light-grey-blue: #81b3d2;
$peachy-pink: #ff8282;
$pinkish-grey: #cdcdcd;
$seafoam-blue: #63d1bb;
$very-dark-brown: #010000;
$white-30: rgba(255, 255, 255, 0.3);
$white-60: rgba(255, 255, 255, 0.6);
$white-five: #ededed;
$white-four: #ececec;
$white-four: #f1f1f1;
$white-three: #ebebeb;
$white-two: #f1f1f1;
$white: #ffffff;


// my variables
$section-side-padding: 20px;
