body {
  font-family: "PTSans", "Arial", sans-serif;
  min-width: 320px;
  // почти весь текст на сайте отображается как "uppercase"
  text-transform: uppercase;
  background-color: #f2f2f2;
}

// дефолтный box-sizing: border-box слишком удобный, невозможно отказаться
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (max-width: $max-mobile-width) {
  .mobile-hidden {
    display: none;
  }

  .only-tablet {
    display: none;
  }

  .only-desktop {
    display: none;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .only-desktop {
    display: none;
  }

  .only-mobile {
    display: none;
  }
}

@media (min-width: $min-desktop-width) {
  .only-mobile {
    display: none;
  }

  .only-tablet {
    display: none;
  }

  .desktop-hidden {
    display: none;
  }
}
