@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin default-side-padding {
  padding-right: $section-side-padding;
  padding-left: $section-side-padding;

  @media (min-width: 768px) {
    padding-right: $section-side-padding--tablet;
    padding-left: $section-side-padding--tablet;
  }

  @media (min-width: 1200px) {
    padding-right: $section-side-padding--desktop;
    padding-left: $section-side-padding--desktop;
  }
}


@mixin content-image-align {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: auto;

  @media (min-width: 768px) {
    position: initial;
    left: unset;
    top: unset;
    transform: unset;
  }
}
