@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin default-side-padding {
  @include for-mobile {
    padding-right: $section-side-padding;
    padding-left: $section-side-padding;
  }

  @include for-tablet {
    padding-right: $section-side-padding--tablet;
    padding-left: $section-side-padding--tablet;
  }

  @include for-desktop {
    padding-right: $section-side-padding--desktop;
    padding-left: $section-side-padding--desktop;
  }
}

@mixin content-image-align {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: auto;

  @include for-tablet-and-desktop {
    position: static;
    left: auto;
    top: auto;
    transform: none;
  }
}

@mixin for-mobile {
  @media (max-width: $max-mobile-width) {
    @content;
  }
}

@mixin for-tablet-and-desktop {
  @media (min-width: $min-tablet-width) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: $min-desktop-width) {
    @content;
  }
}
