// == ЦВЕТА ==
$black-two: #222222;
$black: #333333;
$light-grey-blue: #81b3d2;
$white-30: rgba(255, 255, 255, 0.3);
$white: #ffffff;
$gray: #e5e5e5;

// == РАЗМЕРЫ ==
$section-side-padding: 20px;
$section-side-padding--tablet: 60px;
$section-side-padding--desktop: 120px;

$min-mobile-width: 320px;
$min-tablet-width: 768px;
$max-mobile-width: $min-tablet-width - 1px;
$min-desktop-width: 1200px;
$max-tablet-width: $min-desktop-width - 1px;
